<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Огонь-тур!</title>
    <link rel="icon"
          type="image/png"
          href="favicon.png">
    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- THEME CSS -->
    <link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/adapt.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/clock.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/alertify.core.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/alertify.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
    <script type="text/javascript" src="assets/plugins/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery/jquery.cookie.js"></script>
</head>
<body class="loading">

<div class="screensaver">

    <div class="world_logo logo_xl"></div>

</div>
<div class="screensaver_bg"></div>




<div id="main"></div>



<!-- JAVASCRIPT FILES -->
<script type="text/javascript">var plugin_path = 'assets/plugins/';</script>
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="build/frontend.min.js"></script>
<script type="text/javascript" src="javascripts/moment.js"></script>
<script type="text/javascript" src="javascripts/moment-timezone.js"></script>
<script type="text/javascript" src="javascripts/alertify.min.js"></script>
</body>
</html>